/* Styles for HomeWork */

<<<<<<< HEAD
=======


.quiz-wrapper {
    display: none;
}


.options-list{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 20px 0px;
}

.quiz-option {
    background: aliceblue;
    border: 1px solid #84c5fe;
    border-radius: 5px;
    padding: 8px 15px;
    min-height: 44px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quiz-option:hover{
    color: #004085;
    background: #cce5ff;
    border: 1px solid #b8daff;
}

.quiz-option.correct{
    color: #155724;
    background: #d4edda;
    border: 1px solid #c3e6cb;
}

.quiz-option.incorrect{
    color: #721c24;
    background: #f8d7da;
    border: 1px solid #f5c6cb;
}

.quiz-option.disabled{
    pointer-events: none;
}
>>>>>>> d7d717939eeadecc0aa144cfd015e1354cf3b49c
